.product_template_updated .wl_product_title.product__title h2{
    font-family: Sora;
    font-weight: 400;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #154734;
}

.product_template_updated .wl_product_title.product__title{
    margin-bottom: 0px !important;
}

.product_template_updated .price-item.price-item--regular{
    margin-top: 0px;
}

.product_template_updated .product__info-wrapper .stars svg{
    width: 14px;
    height: 14px;
}

.product_template_updated .product__info-wrapper .summary-rating-con p1{
    font-size: 12px;
    color: #154734;
    font-weight: 300;
}

.product_template_updated .quantity{
    border: 1px solid #D9D9D9 !important;
    width: 122px !important;
}

.product_template_updated .quantity__button svg path{
    fill: #154734 !important;
}

.product_template_updated .quantity__input {
    border: none !important
}

.product_template_updated .product__tax.caption, .product__tax.caption a{
    font-family: Sora;
    font-weight: 400;
    font-size: 12px;
    line-height: 20.4px;
    letter-spacing: 0.7px;
    color: #154734;
}

.product_template_updated .quantity-input{
 background-color: white !important;
}

.product_template_updated .product__tax.caption a{
    text-decoration: underline;
}

.product_template_updated .product-form__buttons{
    min-width: 100%;
}

.product_template_updated variant-selects legend, .product_template_updated label.quantity__label{
    font-family: Sora !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.4px !important;
    text-transform: capitalize !important;
    
}



.product_template_updated .product-form__input--pill input[type=radio]+label{
    background-color: white;
    border: 1px solid #D9D9D9;
    font-family: Sora;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}

.product_template_updated .product-form__input--pill input[type=radio]:checked+label{
    background-color: #154734;
    border: 1px solid #154734;
    font-family: Sora;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}

.product_template_updated .size-chart-con p1{
    font-family: Sora;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #154734;
    
}

.product_template_updated .special_code_con{
    padding: 19px 20px 14px;
}

.product_template_updated .special_code_con h4{
    font-family: Sora;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #154734;

}

.product_template_updated .special_code_con h3{
    font-family: Sora;
    font-size: 16px;
    line-height: 29.69px;
    letter-spacing: 0%;
    text-align: center;
    
}



@media (min-width: 1024px) {
    .product_template_updated .size-chart-con{
        margin-bottom: -40px;
    }
}







