.product-reviews .review{
    border-bottom: 1px solid rgba(21, 71, 52, 0.5);
}

.product-reviews h3{
    color: #154734;
    font-weight: 300;
    font-size: 23px;
    letter-spacing: -0.01em;
}

.product-reviews p{
    color: #737373;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.04em;
}

.product-reviews p1{
    color: #154734;
    opacity: 0.8;
    letter-spacing: -0.01em;
    font-family: Sora;
    font-weight: 300;
    font-size: 14px;
    line-height: 159%;
}


.review-tag-con{
    background: #518246;
    padding: 0px 12px;
    border-radius: 100px;
}

.product-reviews .review-tag-con .review-tag{
    font-size: 10px;
    line-height: 5px;
    color: #fff;
}